.optional-control-label {
    font-weight: normal;
}

ul.dropdown-menu {
    width:350px;
}
span.custom-label {
    white-space: normal;
    border-bottom: 1px solid #abc;
    word-break: break-all;
}
span.custom-description {
    white-space: normal;
    font-size: small;
}

/* loading spinner */
@keyframes spinner {
    to { transform: rotate(360deg); }
}
.spinner {
    width: 24px;
    height: 24px;
}
.spinner:before {
    content: 'Loading';
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: 8px;
    margin-left: -30px;
}
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border-top: 2px solid #03ade0;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}